* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  z-index: 5;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease;
}
header.transparent {
  background-color: transparent;
}
header.scrolled {
  background-color: #141414;
}
.navbar-nav .nav-item .nav-link {
  font-size: 23px;
  border-radius: 30px;
  transition: 0.4s;
  padding: 0 20px !important;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  padding: 5px 20px !important;
  border-radius: 30px !important;
  background-color: rgba(119, 136, 153, 0.509) !important;
  border-radius: 30px;
}
.my-skills .skill-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}
.my-skills .skill-text p {
  color: rgb(231, 231, 231);
  font-size: 20px;
}
.my-skills .type-skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgba(51, 51, 119, 0.397);
}
.my-skills .type-skill .chart-skill {
  display: flex;
  align-items: center !important;
  justify-content: flex-start;
  height: 100%;
  padding-top: 14px;
  width: 0%;
  margin: 0;
  background-color: rgb(30, 86, 255);
}

.my-skills .type-skill .chart-skill .lang-skill {
  margin-left: 20px;
  color: white;
}
.my-skills .type-skill .percent-skill p {
  margin-right: 20px;
  color: white;
  padding-top: 14px;
}
.btn-resume {
  transition: 0.3s !important;
}
.btn-resume:hover {
  background-color: rgb(101, 255, 30) !important;
  color: rgb(255, 255, 255) !important;
}
.let-talk a {
  padding: 65px 125px;
}
.footer_name_folder {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
}
.footer_name_folder div {
  display: inline-block;
  padding-left: 15%;
  animation: scrollText 5s linear infinite;
}
.project .col-12 img {
  transition: 0.25s ease;
}
.project .col-12 img:hover {
  transform: scale(1.05);
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 1200px) {
  .aeroplane {
    width: 650px !important;
    height: 650px !important;
    top: -4.3% !important;
    left: 22% !important;
  }
}

@media only screen and (max-width: 1025px) {
  .aeroplane {
    width: 600px !important;
    height: 600px !important;
    top: -4.7% !important;
    left: 17.7% !important;
  }
}
@media only screen and (max-width: 992px) {
  .aeroplane {
    width: 600px !important;
    height: 600px !important;
    top: -2.5% !important;
    left: -10% !important;
  }
  .my-skills {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .aeroplane {
    width: 600px !important;
    height: 600px !important;
    top: -2.5% !important;
    left: -18% !important;
  }
  .my-skills {
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 576px) {
  .hero .name {
    font-size: 72px !important;
  }
  .hero .about {
    font-size: 28px !important;
  }
  .aeroplane {
    width: 350px !important;
    height: 350px !important;
    top: -1% !important;
    left: -21% !important;
  }
  .my-skills {
    padding-bottom: 0 !important;
  }
  .let-talk {
    height: 140px !important;
    font-size: 30px;
    line-height: 140px !important;
  }
  .let-talk a {
    padding: 40px 70px;
  }

  .pyramid-design {
    left: 43% !important;
  }
  .pyramid-design img {
    width: 230px !important;
    height: 230px !important;
  }
}
